<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SakuraLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SakuraLauncher.Properties.Settings>
            <setting name="Width" serializeAs="String">
                <value>782</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="LogoIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogTextWrapping" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotificationMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlignWidth" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AdvancedMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LegacyCreateTunnel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SortField" serializeAs="String">
                <value>Name</value>
            </setting>
            <setting name="SortDesc" serializeAs="String">
                <value>False</value>
            </setting>
        </SakuraLauncher.Properties.Settings>
    </userSettings>
</configuration>